[Desktop Entry]
Encoding=UTF-8
Name=Link to feature importance gridsearch.v2.png
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=c9c1745d3e&attid=0.1&permmsgid=msg-a:r-8917206262984332715&th=1698223d09e50827&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_yvHfSxYGjYMKpYax1RP1hoLd-v_wRXzWfreiyLWPWcryQiH8FF_9HJY7LvUDA1CRTYSMAnE3xCNCryGYd4Kw6UDqGa1qbnOawL-LfwW87029Ix12rEhDlGE0&disp=emb&realattid=ii_jta9kup50
Icon=text-html
