[Desktop Entry]
Encoding=UTF-8
Name=Link to precision recall gridsearch.v2.png
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=c9c1745d3e&attid=0.2&permmsgid=msg-a:r-8917206262984332715&th=1698223d09e50827&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_UM4SI6Gu5D9bsfzrTRNtlbEPaZo3hiD7_Y2PXovgBnxb9QV65svSl9SMICPvZbN4-baDsm0LA2PYOo08CLFB4XW64LF4_-CXcqtcoyzGjZY0mNjBDrcGUtk4&disp=emb&realattid=ii_jta9l1wz2
Icon=text-html
